@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
height: 100vh;
margin: 0;
overflow: hidden;
font-family: Roboto, sans-serif;
display: flex;
flex-direction: column;
}

button {
font-family: Roboto, sans-serif;
border: none;
border-radius: 0px;
background: #eee;
padding: 10px;
margin-left: 15px;
margin-top: 10px;
}

input {
border: 1px solid #ddd;
border-radius: 16px;
padding: 8px 24px;
width: 400px;
margin-bottom: 16px;
}

.g-blue{ color:#4285F4; }
.o-red{ color:#DB4437; }
.o-yellow{ color:#F4B400; }
.l-green{ color:#0F9D58; }
.e-red {
display:inline-block;
transform:rotate(-10deg);
color:#DB4437;
}

h2{
font-size: 4rem;
margin-bottom: 20px;
}

header{
display: flex;
justify-content: space-between;
}

footer{
display: flex;
justify-content: space-between;
background-color: rgb(231, 231, 231);
padding-bottom: 3px;
}

ul.left-links{
display: flex;
gap: 20px;
align-items:start;
}

ul.right-links{
display: flex;
gap: 20px;
align-items:flex-end;
}

ul{
    display: flex;
list-style: none;
gap: 1;
margin: 0;
padding: 0;
}

a{
text-decoration: none;
color: rgb(70, 68, 68);
}

main{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-grow: 1;
}